/* AutoModal.css */
.custom-modal-width .modal-dialog {
    max-width: 80%;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h4 {
    margin-top: 0;
  }
  
.detalles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espacio entre las columnas */
}

@media (max-width: 768px) {
  .detalles-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
